main {
  background-color: #037E8C;
}

h1{ 
  color: #F4F4F2; 
}

section form{
    background-color: white;
    border-top-left-radius: 3.5%;
    border-top-right-radius: 3.5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border: solid 1.5px;
    padding: 5%;
}