<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Evento</title>
    <link rel="stylesheet" href="app/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/22bea3a94b.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <header class="container-md">
            <div class="row">
                <div class="col-md">
                    <h1>Nuevo Evento</h1>
                </div>
            </div>
        </header>
        <!-- Inicio contenedor externo del formulario -->
        <section class="container-md">
            <!-- Inicio del formulario -->
            <form action="evento" method="POST">
                <!-- Inicio contenedor interno del formulario -->
                <section class="container-md"> 
    
                    <!-- Inicio contenedor de datos del evento -->
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="">Nombre del evento</label>
                            <input type="text" class="form-control" placeholder="Aventura Las Ánimas">
                        </div>  
                        
                        <!-- Inicio contenedor de datos del lugar del evento -->
                        <div class="form-group col-md-4">
                            <label for="">Lugar del evento</label>
                            <select class="custom-select">
                                <option selected value="0">Seleccione Lugar</option>
                                <option value="1">Tandil</option>
                                <option value="2">San Juan</option>
                                <option value="3">Bariloche</option>
                            </select>
                        </div> 
                    </div>
                    <!-- Inicio contenedor de datos del lugar del evento -->

                    <div class="form-group">
                        <textarea class="form-control" placeholder="Descripción del evento"></textarea>
                    </div>
                    <!-- Fin contenedor de datos del evento -->
                    
                    <!-- Inicio contenedor de datos de categorías -->
                    <div class="form-row">
                        <div class="form-group col-md-6"> 
                            <label for="">Categoría</label>
                            <select class="custom-select">
                                <option selected value="0">Seleccione Categoría</option>
                                <option value="1">Deporte Verano</option>
                                <option value="2">Deporte Invierno</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="">Subcategoría</label>
                            <select class="custom-select">
                                <option selected value="0">Seleccione Subcategoría</option>
                                <option value="1">Trekking</option>
                                <option value="2">Escalada</option>
                                <option value="3">Running</option>
                                <option value="4">Triatlón</option>
                                <option value="5">Ski</option>
                            </select>
                        </div> 
                    </div>
                    <!-- Fin contenedor de datos de categorías-->

                    <!-- Inicio contenedor de datos de ediciones -->
                    <div class="form-row">
                        <div class="form-group col-md-12 d-flex justify-content-center">
                            <div class="card">
                                <div class="card-header">
                                    Edición
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label for="">Edición N°</label>
                                        <input type="number" class="form-control" placeholder="1">
                                    </li>
                                    <li class="list-group-item">
                                        <label for="">Fecha de la edición</label>
                                        <input type="date" class="form-control">
                                    </li>
                                    <li class="list-group-item">
                                        <label for="">Fecha inicio publicación</label>
                                        <input type="date" class="form-control">
                                    </li>
                                    <li class="list-group-item">
                                        <label for="">Fecha fin publicación</label>
                                        <input type="date" class="form-control">
                                    </li>
                                    <li class="list-group-item">
                                        <label for="">Presupuesto</label>
                                        <input type="number" class="form-control" placeholder="10000">
                                        <small class="form-text text-muted">Expresado en moneda nacional de curso legal (ARS)</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Fin contenedor de datos de ediciones -->

                    <!-- Inicio contenedor botones -->
                    <button class="btn btn-primary" type="submit">Publicar Evento</button>
                    <!-- Fin contenedor botones -->

                </section>
                <!-- Fin contenedor interno del formulario -->
            </form>
            <!-- Fin del formulario -->
        </section>
        <!-- Fin contenedor externo del formulario -->
    </main>
</body>
</html>